*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    
}
.headercontainer{
  
   justify-content: space-around;
    width: 100%;
    height: 100vh;
   
}

.navBar{
    padding-left: 40px;
    padding-right: 40px ;
    height: 80px;
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.navContainer{
    display: flex;
    list-style: none;
    
}
.menu a{
    color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
    
}
.contact a{
    padding: 0;
}
.navBar  a {
    text-decoration: none;
}
.navBar  a  :hover{
    color: #0cc0bd;
}
#menufunction:hover .dropDownMenu{
    display: block;
    
}
.dropDownMenu{
    width: 200px;
    height: 298px;
    background-color: rgb(20, 20, 20);
    position: absolute;
    border-radius: 2%;
    z-index: 1000;
    display: none;
}
.dropDownMenu ul {
    display: flex;
    flex-direction: column;
    word-spacing: 10px;
    padding-top: 28px;
    align-items: center;
}
.dropDownMenu li{
    list-style: none;
    display: flex;
    padding: 15px;
}

.logo{    
   color: white;
   font-size: 2.2rem;
   display: flex;
   width: 3git s00px;
   }
.logo a{
    text-decoration: none;
    color: white;
}   

#searchbutton{
    color:white; 
}
#backgroundimage{
    display: flex;
    width: 100%;
    height: 100vh;
    position: absolute;
    object-fit: cover;
}
.borderBox input{
    padding-left: 7px;
    border: 0;
    font-size: 15px;
    background: transparent;
    outline: none;
    transition: 0.7s;
    width: 0;
    color: white;
    
}
.searchbox{
    align-items: center;
    cursor: pointer;   
    display: flex;
    flex-wrap: nowrap;
}

.active input{
    width: 200px;
    padding-left: 7px;
    transition: 1s;
}
#backgroundimage img{
    width: 100%;
    border-bottom: 20%;
    height: 100vh;
}
.headLine{
    position: absolute;
    font-size: clamp(2rem,6vw,9rem);
    color: white;
    bottom: 500px;
    font-family: 'Share Tech', sans-serif;
    
}
.headLine span{
    color: #0cc0bd;
}
.secondHeadLine{
    color: grey;
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 130px;
    text-align: center;
    width: 100%;
}
.secondHeadLine span{
    font-family: sans-serif;
}
 .menuBar{
    display: none ;
} 
.menuBar a{
    color: white;
    font-size: 20px;
}
@media(max-width: 837px){
   .headLine{
       width: 100%;
       font-size: 50px;
       display: inline;
       text-align: center;
       bottom: 300px;
   }
   .navContainer{
       justify-content: center;
       flex-wrap: wrap;
       display: none;
   }
   .menuBar{
       display: block;
   }
   .menuBar a{
        
   }
   .secondHeadLine{
       display: none;
   }
 
}

@media(max-width: 455px){
    .searchbox{
        display: none;
    }
}

