*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    background-color: black;
}
.navContainer{
    width: 100%;
    height: 100px;
    /* background-color: rgb(20, 20, 20); */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;   
}
.navBar{
    width: 95%;
    height: 80%;
    background-color: rgb(25, 25, 25);
    border-radius: 18px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logoContainer{  
}
.logoContainer a{
    text-decoration: none;
    color: white;
    font-size: clamp(2rem,2.5vw,4rem);
}
.menuContainer ul{
    display:flex ;
}
.menuContainer a {
    color: white;
    text-decoration: none;
    list-style: none;
    padding-right: 200px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.menuContainer :hover{
    color: aquamarine;
}
#hoverMenu:hover .dropDownMenuContainer{
    display: block;
}
.dropDownMenuContainer{
    width: 200px;
    height: 298px;
    background-color: rgb(30, 30, 30);
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
    display: none;
}
.dropDownMenu a{
    padding: 0;
    word-spacing: 10px;
    padding-left: 30px;
    
}
.dropDownMenu{
    padding:15px ;
    
}
.menuBar{
    display: none;
}
.menuBar {
    color: white;
}
.searchcontainer {
    width: 400px;
}   
.active .borderBox input{
    width: 200px;
    transition: 1s;
}
#searchbutton{
    color: white;
    cursor: pointer;
}
.borderBox input{
    padding-left: 7px;
    border: 0;
    font-size: 15px;
    background: transparent;
    outline: none;
    transition: 0.7s;
    width: 0;
    color: white;
}

.headContainer
{
    width: 100%;
    height: 400px;
    /* background-color: rgb(15, 15, 15);     */
    display: flex;
    justify-content: center;
    padding-top: 120px;
}
.headContainer
 img{
    width: 95%;
    height: 380px;
    border-radius: 18px;
    position: absolute;
    object-fit: cover;
}
.headLineContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    flex-direction: column;
}
.headLine{
    color: white;
    z-index: 1;
    font-size: clamp(1.5rem,2.5vw,4rem);
    word-spacing: 30px;
    font-family: "Helvetica Now",Helvetica Neue,-apple-system,BlinkMacSystemFont,Arial,Noto Sans,Ubuntu,Roboto,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-weight: bold;
}
.secondHeadLine{
    color: white;
    z-index: 1;
    word-spacing: 20px;
    font-family: "Helvetica Now",Helvetica Neue,-apple-system,BlinkMacSystemFont,Arial,Noto Sans,Ubuntu,Roboto,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: clamp(0.5rem,2vw,1rem);
}
.productContainer{
    width: 100%;
    /* background-color: rgb(25, 25, 25); */
    display: flex ;
    justify-content: center;
    margin-top: 100px;
}
.products{
    width: 95%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
.first img{
    max-width: 300px;
    max-height: 300px;
    border-radius: 18px;
    object-fit: cover;
}
.first{
    flex-basis: 20%;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    justify-content: center;
    padding-top: 20px; 
    flex-direction: column;
}

.first h3{
    color: white;
    font-size: clamp(0.8rem,2vw,1.2rem);
    
}
.labelAndPrice{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.price{
    color: rgb(149, 149, 149);
    font-family: sans-serif;
    font-size: clamp(0.5rem,2vw,0.8rem);
}

@media(max-width: 837px){

    .headLine{
        width: 100%;
        display: inline;
        text-align: center;
    }
    .navBar{
        width: 95%;
        max-height: 50px;
    }
    .navContainer{
        width: 100%;
    }
    .menuContainer{
        justify-content: center;
        flex-wrap: wrap;
        display: none;
    }
    .headContainer
{
        padding: 90px;
    }
    .headContainer
 img{
        width: 95%;
        height: 300px;
    }
    .productContainer{
        width: 100%;
        margin-top: 0;
    }
    .products{
        width: 95%;
    }
    .first{
        width: 100%;
        flex-basis: 50%;
    }
    .first img{
        min-width: 100px;
        min-height: 100px;
    }
    .menuBar{
        display: block;
    }
    .searchBoxContainer{
        display: none;
    }

 }
 @media(max-width: 500px){
    .headContainer
{
        width: 100%;
        height: 200px;
    }
    .headContainer
 img{
        width: 95%;
        height: 200px;
    }
    .headLineContainer{
        width: 100%;
        height: 200px;
    }
   .productContainer{
       padding-top:90px ;
   }
 }

 @media(max-width:340px){
     .searchBoxContainer{
         display: none;
     }
     .first img{
         max-width: 150px;
         max-height: 100px;
     }
 }
 .drawerMenuContainer1{
 }
 .drawerMenuContainer2{
    width: 50%;
    background-color:rgb(20, 20, 20);
    height: 100%;
    position: absolute;
    top: 0;
    right: 0px;
    z-index: 6;
    display: none;
}
.drawerMenu ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.drawerMenu a{
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.drawerMenu  i{
    font-size: 13px;
}
.drawerMenu li{
    list-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.crossButton{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}
.crossButton i{
    color: white;
    font-size: clamp(1.4rem,2vw,3rem);
    float: right;
}
.drawerSearchBar{
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 2px;
    background-color: rgb(41, 41, 41);
    height: 25px;
    border-radius:20px ;
}
.drawerSearchBar i {
    color: white;
    font-size: clamp(1rem,2vw,1rem);
}
.drawerSearchBar input{
    background: transparent;
    outline: none;
    border: none;
    padding-left: 5px;
    color: white;
    width: 100px
}
.visible .drawerMenuContainer2{
    display: block;
}
.unvisible{
    z-index: 30;
    position: absolute;
    right: 16px;
    top: 25px;
}
.drawerSubMenu li{
    color: rgb(187, 187, 187);
    list-style: none;
    font-size: 13px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.drawerSubMenu a{
    text-decoration: none;
    
}
.subMenu{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.subMenu {
    list-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
.subMenu i{
    color: white;
}
.drawerSubMenu{
    display: none;
}
.view{
    display: block;
}
@media(max-width:340px){
    .drawerMenuContainer2{
        width: 100%;
    }
    .menuBar{
        
    }
}
@media(min-width:837px){
    .drawerMenuContainer1{
        display: none;
    }
}
